<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="healthgoal-api"/>
    <springProperty scope="context" name="LOG_LEVEL" source="logging.level.root" defaultValue="INFO"/>
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <!-- Core Fields -->
                <timestamp/>
                <version/>
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "thread": "%thread",
                        "logger": "%logger{36}",
                        "message": "%msg",
                        "correlationId": "%X{correlationId:-N/A}",
                        "requestId": "%X{requestId:-N/A}",
                        "app": "${APP_NAME}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>
    <root level="${LOG_LEVEL}">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

</configuration>
